body{
    font-family:'Courier New', Courier, monospace;
}
canvas{
    border:1px solid black;
}
input{
    width: 40px
}
.float-container {
    width: 600px;
    border:1px solid black;
  }
  
  .float-child {
    width: 50%;
    float: left;
  }
